.edit-button {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  padding: 3px;
  cursor: pointer;
}

.edit-button:hover {
  border: 1px solid black;
  background-color: white;
  color: #007bff;
}

.delete-button {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  padding: 3px;
  cursor: pointer;
}

.delete-button:hover {
  border: 1px solid black;
  background-color: white;
  color: red;
}

.add-question {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  padding: 3px;
  cursor: pointer;
}

.add-question:hover {
  border: 1px solid black;
  background-color: white;
  color: green;
}